# Python/Django
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual env
.venv/
venv/

# IDE
.idea/
.vscode/

# SO
.DS_Store
Thumbs.db

# Django
db.sqlite3
media/
staticfiles/
